<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="flitbit.datamodel" type="FlitBit.Data.Configuration.DataModelConfigSection,FlitBit.Data" />
	</configSections>
  <connectionStrings>
    <add providerName="System.Data.OleDb" name="windows-search" connectionString="Provider=Search.CollatorDSO;Extended Properties='Application=Windows';" />
    <add providerName="System.Data.SqlClient" name="test" connectionString="Data Source=localhost;Integrated Security=SSPI;MultipleActiveResultSets=True;Application Name=FlitBit.Data.Tests;" />
    <add providerName="System.Data.SqlClient" name="test-data" connectionString="Data Source=localhost;Initial Catalog=unittests;Integrated Security=SSPI;MultipleActiveResultSets=True;Application Name=FlitBit.Data.Tests;" />
    <add providerName="System.Data.SqlClient" name="test-data-async" connectionString="Data Source=localhost;Initial Catalog=unittests;Integrated Security=SSPI;MultipleActiveResultSets=True;Asynchronous Processing=True;Application Name=FlitBit.Data.Tests;" />
  </connectionStrings>
	<flitbit.datamodel>
		<map-connection-strings>
			<add from="orm-catalog" to="test-data" />
		</map-connection-strings>
	</flitbit.datamodel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FlitBit.Core" publicKeyToken="38f03d0878531ff3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FlitBit.Emit" publicKeyToken="38f03d0878531ff3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.6.0" newVersion="2.8.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FlitBit.Wireup" publicKeyToken="38f03d0878531ff3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3.0" newVersion="3.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FlitBit.Represent" publicKeyToken="38f03d0878531ff3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.20.0" newVersion="4.5.20.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup></configuration>
