<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="flitbit.datamodel" type="FlitBit.Data.Configuration.DataModelConfigSection,FlitBit.Data" />
    </configSections>
    <connectionStrings>
        <add providerName="System.Data.OleDb" name="windows-search" connectionString="Provider=Search.CollatorDSO;Extended Properties='Application=Windows';" />
        <add name="adoWrapper" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=AdoWrapperTests.mdf;Integrated Security=true;MultipleActiveResultSets=true;Connect Timeout=30" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <flitbit.datamodel>
        <map-connection-strings>
            <add from="orm-catalog" to="test-data" />
        </map-connection-strings>
    </flitbit.datamodel>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.5.20.0" newVersion="4.5.20.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="FlitBit.Core" publicKeyToken="38f03d0878531ff3" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup></configuration>
