<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add providerName="System.Data.OleDb" name="windows-search" connectionString="Provider=Search.CollatorDSO;Extended Properties='Application=Windows';" />
		<add providerName="System.Data.SqlClient" name="test" connectionString="Data Source=localhost\dev;Integrated Security=SSPI;MultipleActiveResultSets=True;Application Name=FlitBit.Data.Tests;" />
		<add providerName="System.Data.SqlClient" name="test-data" connectionString="Data Source=localhost\dev;Initial Catalog=unittest;Integrated Security=SSPI;MultipleActiveResultSets=True;Application Name=FlitBit.Data.Tests;" />
		<add providerName="System.Data.SqlClient" name="test-data-async" connectionString="Data Source=localhost\dev;Initial Catalog=unittest;Integrated Security=SSPI;MultipleActiveResultSets=True;Asynchronous Processing=True;Application Name=FlitBit.Data.Tests;" />
	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="FlitBit.Core" publicKeyToken="38f03d0878531ff3" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.8.5.0" newVersion="2.8.5.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>