<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="FlitBit.Core" publicKeyToken="38F03D0878531FF3" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.8.1.0" newVersion="2.8.1.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
