<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FlitBit.Cache" version="1.8.1" targetFramework="net40" />
  <package id="FlitBit.Copy" version="2.8.3" targetFramework="net40" />
  <package id="FlitBit.Core" version="2.11.4" targetFramework="net40" />
  <package id="FlitBit.Emit" version="2.8.6" targetFramework="net40" />
  <package id="FlitBit.ObjectIdentity" version="1.3.1" targetFramework="net40" />
  <package id="FlitBit.Proto" version="0.6.2" targetFramework="net40" />
  <package id="FlitBit.Registrar" version="1.0.1" targetFramework="net40" />
  <package id="FlitBit.Represent" version="1.2.2" targetFramework="net40" />
  <package id="FlitBit.Wireup" version="3.0.3" targetFramework="net40" />
  <package id="Inflector" version="1.0.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
</packages>