<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FlitBit.Cache" version="1.7.0" targetFramework="net40" />
  <package id="FlitBit.Copy" version="2.6.3" targetFramework="net40" />
  <package id="FlitBit.Core" version="2.8.15" targetFramework="net40" />
  <package id="FlitBit.Emit" version="2.7.1" targetFramework="net40" />
  <package id="FlitBit.ObjectIdentity" version="1.2.1" targetFramework="net40" />
  <package id="FlitBit.Proto" version="0.5.1" targetFramework="net40" />
  <package id="FlitBit.Registrar" version="1.0.1" targetFramework="net40" />
  <package id="FlitBit.Represent" version="0.2.1" targetFramework="net40" />
  <package id="FlitBit.Wireup" version="2.5.3" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
</packages>